ul {
    list-style-type: none;
}

.gamesList {
    margin: 0;
    padding: 0;
}

.gameWeeksContainer {
    margin-right: 75px;
}

.gameWeekContainer {
    border-left: 1px solid black;
    padding-left: 75px;
}

.left {
    float: left;
}

.at {
    width: 75px;
    text-align: center;
}

.spread {
    width: 30px;
    text-align: center;
}

.gamesList .game:hover{
    background-color: aliceblue;
}

.gameWeeksList .gameWeeksNumber a {
    text-decoration:  none;
}

.gameWeeksList .gameWeeksNumber a:hover  {
    text-decoration:  underline;
}

.teamName {
    padding-left: 8px;
}

.logo {
    height: 25px;
    width: 40px;
}

.has-selection {
    background-color: azure;
}